html{
    scroll-behavior: smooth;
}
button{
    background: rgba(0,0,0,.0);

}

#home{
    background-image: url("images/background1.jpg");

}
#mainLogo{
    text-align: center;
    color:orangered;
    font-size: 75px;
    font-weight:bold;
    padding-top: 20%;
}
#mainSubHead{
    text-align: center;
    color:white;
}
#about{
    background-color: #2d3b51;
}
#me{
    border-radius: 25%;
    margin-top:10%;
    margin-bottom: 10%;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    
}
#_nav {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    color: white;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
}
.topLinks{
    color:white;
    font-size: 50px;
}
#topLinksRow{
    color:white;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    float:none;
    width:25%;
    padding-bottom: 30%;
    padding-top:5%;
}
#aboutTitle{
    color:white;
    padding-top: 10%;
}
#aboutParagraph{
    color:white;
    font-size:20
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}
.make-white{
    color:white;
}

#portfolio h2{
    text-align: center;
}

#portfolio h3{
    text-align: center;
}


